 
 header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
 }
 /* Nav Related Styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
nav ul  li{
    list-style: none;
    font-weight: 500px;
}
ul{
    display: flex;
    gap: 35px;
}
nav h3{
    font-weight: 700;
    font-size: 2.8em;
    font-family: Work Sans;
    color:#424242;
}
nav ul li a{
    text-decoration: none;
    color:#424242;
    font-family: Work Sans;
    font-weight: 500;
    line-height: 26px; 
}
/* baner Related Styles */
.banner-content{
    width: 862px;
    text-align: center;
    margin: 0 auto;
}
.banner .banner-content h1{
    color:#131313;
font-family: Work Sans;
font-size: 3em;
font-weight: 700;
}
.banner .banner-content p , section .section .section-container p{
    color:#727272;
font-family: Work Sans;
line-height: 26px; 
}
.banner .banner-content button, section .section .section-container button{
    border: none;
    border: 20px solid #FF900E;
    border-radius: 8px;
background: #FF900E;
color: #FFF;
font-family: Work Sans;
margin: 30px auto;
cursor: pointer;
}

/* section -1 Related Styles */
section{
    padding: 85px 300px 130px  300px;
}
.section{
    display: flex;
    gap: 75px;
}

section .section .section-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.section-container{
    margin: auto 0;
}
section .section .section-container h2{
    font-size: 3em;
    font-family: Work Sans;
}
.first{
    color:#727272;
    font-weight: 500;
}
.second{
    color: #FF900E; 
    font-weight: 700;
}

/* Section-2 Related Styles */
.section-2{
    width: 100%;
    padding: auto 240px ;
    display: flex;
    gap: 145px;
}
.section-2 .section-2-container h2{
    color:#131313;
font-family: Work Sans;
font-size: 3em;
font-weight: 700;
}
.section-2 .section-2-container p{
    color:#727272;
font-family: Work Sans;
line-height: 26px; 
}
 
.section-2-container> div{
    border:5px solid #fff;
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
 margin-bottom: 20px;
 padding: 10px;
}
.section .section-2-container .section-image img{
    width: 708px;
height: 982px;
}

/* fact Related Styles */
.fact{
    display: flex;
    justify-content: space-around;
}

.section-3-container{
    margin-bottom: 100px;
}
.section-3{
    padding: 100px 290px auto 240px;
}
.section-3-container h2{
    color:#131313;
font-family: Work Sans;
font-size: 3em;
font-weight: 700;
}
.section-3-container p{
    color:#727272;
font-family: Work Sans;
line-height: 26px; 
}
.primary{
    color:#424242;
font-family: Work Sans;
font-size: 2em;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.paragraph{
    color:#727272;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.fact > div{
    border:1px dotted #FF900E; 
    text-align: center;
    padding: 20px 10px 0 10px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}